# Домашнее задание к занятию "Парсинг данных"
# Ultra-pro

Возьмите базу квартир moscow.csv. 

1. Удалите все строки, которые в столбце "Комнат" имеют значения "Для заметок:".

2. Удалите столбцы "ГРМ", "Источник" и "Примечание".

3. Преобразуйте столбец "Дата" в DataTimeIndex и затем удалите этот столбец.

4. В столбце "От станции" если есть буква "п", то заменить её на слово " минут пешком", если буква "т", то заменить её на " минут на транспорте".

5. Создать новый столбец "Этаж" и заполнить числовыми значениями из столбца "Дом". В столбце "Дом" удалить числовые значения и если есть буква "п", то заменить на "панельный", если буква "к" - "кирпичный", а если буква "м" - "монолитный".

6. Значение столбца "Цена, руб." перевести в млн. руб. и название столбца изменить соответствующе.

In [ ]:
# Статический вывод графики (графики отображаются в той ячейке, в которой используется plt.show())
import pandas as pd # Импортируем библиотеку обработки и анализа данных pandas
import matplotlib.pyplot as plt # Импортируем модуль pyplot библиотеки matplotlib для построения графиков
import datetime                 # Импортируем модуль datetime для обработки данных в формете даты
import numpy as np              # Импортируем библиотеку numpy
from google.colab import files  # Импортируем библиотеку files для работы с файлами
import re                       # Регулярные выражения
import csv


# Рисовать графики сразу же
%matplotlib inline

In [ ]:
# Для загрузки данных используем drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
mos = pd.read_csv('/content/drive/MyDrive/moscow.csv',  sep=";")

In [ ]:
mos.head()

         Комнат  ...                                         Примечание
0             1  ...  Собственность оформлена! Ключи на руках! Опера...
1  Для заметок:  ...                                                NaN
2             1  ...  Зеленоград к.1820 однокомнатная квартира общ.3...
3  Для заметок:  ...                                                NaN
4             1  ...  Уютная, светлая квартира, застекленный балкон ...

[5 rows x 14 columns]

In [ ]:
mos = mos.drop(mos[mos['Комнат'].str.contains('Для заметок', na=False)].index, axis = 0) # Убираю строки “Для заметок”

In [ ]:
mos = mos.drop(mos.columns[[8,12,13]],axis=1 ) # удаляем неинтересующие нас столбцы: ГРМ Источник и Примечание

In [ ]:
mos.index = pd.to_datetime(mos.Дата) # Превращаем колонку Дата в индекс

In [ ]:
mos.drop('Дата', axis=1, inplace=True) # Удаляем колонку date из датафрейма

In [ ]:
mos

           Комнат  Метро / ЖД станции  ... Бонус агенту Кол-во дней в экспозиции
Дата                                   ...
2019-07-25      1         Шелепиха м.  ...          NaN                      1.0
2019-07-25      1  Пятницкое шоссе м.  ...          NaN                      2.0
2019-07-25      1        Планерная м.  ...          NaN                      4.0
2019-07-25      1      Шаболовская м.  ...          NaN                      7.0
2019-07-25      1     Бабушкинская м.  ...          NaN                     11.0
...           ...                 ...  ...          ...                      ...
2019-12-07     Ст       Некрасовка м.  ...          NaN                     14.0
2019-07-23     Ст     Авиамоторная м.  ...          NaN                     14.0
2019-12-07     Ст      Коломенская м.  ...          NaN                     14.0
2019-07-22     Ст        Алтуфьево м.  ...          NaN                     14.0
2019-07-25     Ст         Волжская м.  ...          NaN                     14.0

[126268 rows x 10 columns]

In [ ]:
mos['Цена, млн руб.'] = mos['Цена, руб.']/1000000

In [ ]:
mos.drop('Цена, руб.', axis=1, inplace=True) # Удаляем колонку date из датафрейма

In [ ]:
mos

           Комнат  Метро / ЖД станции  ... Кол-во дней в экспозиции Цена, млн руб.
Дата                                   ...
2019-07-25      1         Шелепиха м.  ...                      1.0       195.0000
2019-07-25      1  Пятницкое шоссе м.  ...                      2.0        48.0000
2019-07-25      1        Планерная м.  ...                      4.0        79.9000
2019-07-25      1      Шаболовская м.  ...                      7.0       112.0000
2019-07-25      1     Бабушкинская м.  ...                     11.0        62.5000
...           ...                 ...  ...                      ...            ...
2019-12-07     Ст       Некрасовка м.  ...                     14.0        28.5000
2019-07-23     Ст     Авиамоторная м.  ...                     14.0        38.3999
2019-12-07     Ст      Коломенская м.  ...                     14.0        29.0000
2019-07-22     Ст        Алтуфьево м.  ...                     14.0        52.0000
2019-07-25     Ст         Волжская м.  ...                     14.0        27.9000

[126268 rows x 10 columns]

In [ ]:
mos['Этаж']=mos['Дом']

In [ ]:
def getLevel(i):         # Преобразовал код в функцию
  i=re.split(r' ', i)
  arg=i[0]
  if arg != '?':
    i = arg
    return i

In [ ]:
mos['Этаж'] = mos['Этаж'].apply(getLevel)

In [ ]:
def getType(i):         # Преобразовал код в функцию
  i=re.split(r' ', i)
  arg=i[1]
  i = arg
  return i

In [ ]:
mos['Дом'] = mos['Дом'].apply(getType)

In [ ]:
# Тип дома
def getFullType(arg):
  result = ''
  if ("М" in arg): result += 'монолитный'
  if ("К" in arg):  result += 'кирпичный'
  if ("П" in arg):  result += 'панельный'
 
  if result=='?':
    result='Не указано'
  return result

In [ ]:
mos['Дом'] = mos['Дом'].apply(getFullType)

In [ ]:
mos

           Комнат  Метро / ЖД станции  ... Цена, млн руб.   Этаж
Дата                                   ...
2019-07-25      1         Шелепиха м.  ...       195.0000  35/37
2019-07-25      1  Пятницкое шоссе м.  ...        48.0000  11/14
2019-07-25      1        Планерная м.  ...        79.9000  11/22
2019-07-25      1      Шаболовская м.  ...       112.0000   8/12
2019-07-25      1     Бабушкинская м.  ...        62.5000   4/14
...           ...                 ...  ...            ...    ...
2019-12-07     Ст       Некрасовка м.  ...        28.5000   2/17
2019-07-23     Ст     Авиамоторная м.  ...        38.3999    2/8
2019-12-07     Ст      Коломенская м.  ...        29.0000    1/9
2019-07-22     Ст        Алтуфьево м.  ...        52.0000    4/9
2019-07-25     Ст         Волжская м.  ...        27.9000    1/5

[126268 rows x 11 columns]

In [ ]:
mos['вид транспорта'] = mos['От станции'].str.extract(r'(\D+)', expand=False) 
mos['вид транспорта'].unique()

array(['п', 'т', nan], dtype=object)

In [ ]:
# От станции
def getTransp(arg):
  arg = str(arg)
  result = ''
  if ("п" in arg): result += 'минут пешком'
  if ("т" in arg):  result += 'минут на транспорте'

 
 
  if result=='':
    result='Не указано'
  return result

In [ ]:
mos['вид транспорта'] = mos['вид транспорта'].apply(getTransp)

In [ ]:
mos['время'] = mos['От станции'].str.extract(r'(\d+)', expand=False) 
mos['время']

Дата
2019-07-25    12
2019-07-25    30
2019-07-25     5
2019-07-25    12
2019-07-25    15
              ..
2019-12-07     4
2019-07-23     6
2019-12-07    15
2019-07-22     5
2019-07-25    10
Name: время, Length: 126268, dtype: object

In [ ]:
mos['От станции'] =mos['время']+mos['вид транспорта']
mos['От станции']

Дата
2019-07-25           12минут пешком
2019-07-25    30минут на транспорте
2019-07-25     5минут на транспорте
2019-07-25           12минут пешком
2019-07-25           15минут пешком
                      ...
2019-12-07            4минут пешком
2019-07-23            6минут пешком
2019-12-07           15минут пешком
2019-07-22     5минут на транспорте
2019-07-25           10минут пешком
Name: От станции, Length: 126268, dtype: object

In [ ]:
mos.drop('время', axis=1, inplace=True) # Удаляем колонку date из датафрейма
mos.drop('вид транспорта', axis=1, inplace=True) # Удаляем колонку date из датафрейма

In [ ]:
mos

           Комнат  Метро / ЖД станции  ... Цена, млн руб.   Этаж
Дата                                   ...
2019-07-25      1         Шелепиха м.  ...       195.0000  35/37
2019-07-25      1  Пятницкое шоссе м.  ...        48.0000  11/14
2019-07-25      1        Планерная м.  ...        79.9000  11/22
2019-07-25      1      Шаболовская м.  ...       112.0000   8/12
2019-07-25      1     Бабушкинская м.  ...        62.5000   4/14
...           ...                 ...  ...            ...    ...
2019-12-07     Ст       Некрасовка м.  ...        28.5000   2/17
2019-07-23     Ст     Авиамоторная м.  ...        38.3999    2/8
2019-12-07     Ст      Коломенская м.  ...        29.0000    1/9
2019-07-22     Ст        Алтуфьево м.  ...        52.0000    4/9
2019-07-25     Ст         Волжская м.  ...        27.9000    1/5

[126268 rows x 11 columns]